%article[order_type]
  .name
    %h2
      = order_type.name
    %div
      = order_type.info
  .price
    = number_to_currency order_type.price
  .actions
    = link_to 'Изменить', edit_object_path(order_type), :class => "green-button AmodalService", :id => "service_#{order_type.id}"
    = link_to image_tag('/assets/icons/black_cross.png'), order_type, :class => "red-button", :data => {:method => 'delete', :confirm => "Удаление, уверены?"}

