.service.clear
  .serviceL
    = link_to "<span>#{service.name}</span>",'#', :class=>"opener"
    .service_info
      = service.info
  .serviceR
    - if service.price>0
      = service.price
      %span руб.
    - else
      бесплатно
    %br
    = link_to '<i>Заказать</i>', new_order_url(:order_type_id=>service.id), :class=>"greenButton #{current_user ? '' : 'AmodalReg' } service", :id=>"service_#{service.id}"

