.service
  .serviceL<>
    = link_to "<span>#{service.name}</span>".html_safe,'#', :class=>"opener"
    .service_info
      = service.info
  .serviceR<>
    - if service.price>0
      = service.price
      %span<> &nbsp;руб.
    - else
      бесплатно
    = link_to 'Заказать'.html_safe, new_order_url(:order_type_id => service.id), :class => "green-button #{current_user ? '' : 'AmodalReg' } service", :id => "service_#{service.id}"

