- @title = 'Услуги'
= render current_objects

= link_to 'Добавить услугу', new_object_path, :class=>"bigger-green-button AmodalServiceCreate"

#modalServiceCreate.modal.modalService
  %h1 Новая услуга
  = error_messages_for :order_type
  = form_for(:order_type, :url => objects_url) do |f|
    = render :partial => "form", :locals => {:f => f}
    = submit_tag "Создать", :class=>"button textbutton"

#modalService.modal.modalService