.service.clear
  .serviceL
    %h1= @order_type.name
    %p
      = @order_type.info
  .serviceR
    = @order_type.price
    %span руб.
    .actions{:style => "padding-top: 10px"}
      = link_to 'Изменить'.html_safe, edit_object_path(@order_type), :class => "green-button AmodalService", :id => "service_#{@order_type.id}"

= link_to 'К списку услуг', objects_path 
