%h3 Изменение данных пользователя
= form_for @user, :url => user_path(@user) do |f|
  %fieldset
    %label{:for=>"user_name"} ФИО
    = f.text_field :name
    %label{:for=>"user_password"} Новый пароль
    = f.text_field :password
    .clear.formpass
    - if current_user.supervisor?
      = f.check_box :admin,  :id=>"makeadmin", :class=>"checkbox"
      %span.checkboxlabel права администратора
    = f.submit "Сохранить изменения", :class=>"button textbutton"

