- if current_user
  #modalZakaz.modal.modalZakaz
    %h3 Оформление заказа!
    = form_for(@order, :url => orders_url, :html=>{:multipart=>true}) do |order_form|
      %fieldset
        = order_form.collection_select(:order_type_id, OrderType.all, :id, :name)
        = order_form.fields_for :messages do |msg|
          %label{:for => "message_body"} Ваш комментарий:
          = msg.text_area :body
          %label Приложения:
          = msg.fields_for :documents do |doc|
            - ind=msg.object.documents.index(doc.object)+1
            %label{:class=>'filenum'}= "#{ind}. "
            = doc.file_field :file, :class=>'fileinput'
        .zakaz_total
          Стоимость:
          - OrderType.all.each do |type|
            %b{:id=>"price_#{type.id}", :class=>"zakaz_price #{'hide' unless type==@default_type}"}
              = type.price
              руб.
        = submit_tag "Отправить заказ", :class=>"textbutton button"
  #modalOptions.modal.modalOptions
    %h3 Настройки
    = form_for @user, :url => user_path(@user) do |f|
      %fieldset
        %label{:for=>"user_name"} ФИО
        = f.text_field :name
        %label{:for=>"user_password"} Новый пароль
        = f.password_field :password
      .clear.formpass
      - if current_user.supervisor?
        = f.check_box :admin,  :id=>"makeadmin", :class=>"checkbox"
        %span.checkboxlabel права администратора
      = f.submit "Сохранить", :class=>"textbutton"
- else
  - unless controller.controller_name=='password_resets'
    #modalReg.modal.modalReg
      %h3 Регистрация
      = form_for @user do |f|
        = render :partial => "users/form", :object => f
        %br
        = submit_tag "Зарегистрироваться", :class=>"textbutton"
    #modalAuth.modal.modalAuth
      %h3 Вход в личный кабинет
      = form_for @user_session, :url => user_session_path do |f|
        - if @user_session.errors && !@user_session.errors.empty?
          .error
            логин или пароль указаны неверно. попробуйте еще раз или воспользуйтесь функцией напоминания пароля.
        = f.label :email, "E-mail"
        = f.text_field :email, :class=>'text'
        %br
        = f.label :password, "пароль"
        = f.password_field :password, :class=>'text'
        %br
        = f.submit "Войти", :class=>'textbutton'