= form_for(@order, :url => orders_url, :html => {:multipart => true, :class => 'order_form'}) do |order_form|
  .span-20
    %p
      %label{:for => "order_type_id"} Услуга:
      = order_form.collection_select(:order_type_id, OrderType.all, :id, :name_with_price)
    - OrderType.all.each do |type|
      %div{:id=>"order_info_#{type.id}", :class=>"order_info #{type.active ? 'type_active' : 'type_blocked'} #{'hide' unless type==@default_type}"}
        = type.active ? type.info : "К сожалению, услуга временно недоступна. Производится техническое обслуживание системы. Система возобновит работу в ближайшее время."
  .clear
  %hr
  #order_body
    = order_form.fields_for :messages do |msg|
      .span-12
        %p
          %label{:for => "message_body"} ваш комментарий:
          %br
          = msg.text_area :body
      %div{:class=>"span-10 last"}
        %label Приложения:
        %br
        %br
        #uploads
          = msg.fields_for :documents do |doc|
            - ind=msg.object.documents.index(doc.object)+1
            %p{:class=>'upload', :id=>"upload_#{ind}"}
              = "#{ind}. "
              = doc.file_field :file
        = link_to "еще файл", "javascript:;", :id=>"more_files"
    .clear
    %br
    %br
    %p= submit_tag "Отправить заказ"

