- form_for(@order, :url => orders_url, :html=>{:multipart=>true}) do |order_form|
  %p
    %label{:for => "order_type_id"} Услуга:
    = order_form.collection_select(:order_type_id, OrderType.find(:all), :id, :name)
  %hr
  - order_form.fields_for :messages do |msg|
    .span-12
      %p
        %label{:for => "message_body"} ваш комментарий:
        %br
        = msg.text_area :body
    %div{:class=>"span-10 last"}
      %label Приложения:
      %br
      %br
      #uploads
        - msg.fields_for :documents do |doc|
          - ind=msg.object.documents.index(doc.object)+1
          %p{:class=>'upload', :id=>"upload_#{ind}"}
            = "#{ind}. "
            = doc.file_field :file
      = link_to "еще файл", "javascript:;", :id=>"more_files"
  .clear
  %p= submit_tag "Отправить"
