.service.clear
  .serviceL
    = "#{order.id}."
    = link_to "<span>#{order.order_type.name}</span>", order
  .serviceStatus
    %span.active= order.status.name
  .serviceR
    %p.price
      = number_with_delimiter(order.price, :delimiter=>' ')
      %span руб.
    = link_to "Оплатить", "#", :class=>'link'

