.service.clear
  .serviceL
    = check_box_tag "order_#{ordermin.id}"
    = "#{ordermin.id}."
    = link_to "<span>#{ordermin.order_type.name}</span>".html_safe, ordermin
  .serviceStatus
    = ordermin.user.name
    %br
    = ordermin.user.email
  .serviceR
    %p.price
      - if ordermin.price && ordermin.price.to_i>0
        = number_with_delimiter(ordermin.price, :delimiter=>' ')
        %span руб.
      - else
        бесплатно
    - if @order.paid_for?
      Оплачено
    - elsif ordermin.price && ordermin.price.to_i>0
      Ожидание оплаты

