.service.clear
  .serviceL
    = "#{order.id}."
    = link_to "<span>#{order.order_type.name}</span>", order
  .serviceStatus
    %span.active= order.status.name
  .serviceR
    %p.price
      - if order.price && order.price.to_i>0
        = number_with_delimiter(order.price, :delimiter=>' ')
        %span руб.
      - else
        бесплатно
    - if @order.paid_for?
      Оплачен
    - elsif order.price && order.price.to_i>0
      = link_to "Как оплатить", "/payment", :class=>'link'
      

