.service.clear
  .serviceL
    = check_box_tag "order_#{ordermin.id}"
    = "#{ordermin.id}."
    = link_to "<span>ordermin.order_type.name</span>", ordermin, :class=>"opener"
    .service_info
      = ordermin.messages.first.body if ordermin.messages
      %br
      %br
      .files
        - ordermin.messages.first.documents.each do |doc|
          = link_to doc.public_file_name, {:controller=>:documents, :action=>:download, :id=>doc.id}, :class=>File.extname(doc.file.url).split('?')[0].gsub('.','')
          %br
  .serviceStatus
    = ordermin.user.name
    %br
    = ordermin.user.email
  .serviceR
    %p.price
      = ordermin.price
      %span руб.
    - if @order.paid_for?
      Оплачено
    - else
      Ожидание оплаты

