.service.clear
  .serviceL
    = "#{order.id}."
    = link_to "<span>#{order.order_type.name}</span>".html_safe, order
  .serviceStatus
    %span.active= order.status.name
  .serviceStatus
    %span= order.order_payment.try(:status_name)
  .serviceStatus
    %span= order.order_payment.try(:sum) 
    %span руб.
  .serviceR
    %p.price
      - if order.price && order.price.to_i>0
        = number_with_delimiter(order.price, :delimiter=>' ')
        %span руб.
      - else
        бесплатно
    - if order.price && order.price==0
      = nil
    - elsif order.paid_for?
      Оплачен
    - elsif
      = link_to "Как оплатить", payment_page_path(order_id: order.id), :class=>'link'
      

