%tr
  %td{:width=>"10%"}
    %b= link_to "Заказ №#{ordermin.id}", order_url(ordermin)
  %td{:width=>"15%"}
    = ordermin.user.name
    %br
    = ordermin.user.email
  %td{:width=>"20%"}
    = ordermin.status.name
    %br
    = link_to "изменить [+]", "javascript:;", :id=>"toggle_#{ordermin.id}", :class=>"toggle_status" 
    = render :partial=>'statuses', :locals=>{:id=>ordermin.id}
  %td.center{:width=>"7%"}
    = ordermin.price 
  %td.center{:width=>"7%"}
    %b{ :class=>ordermin.paid_for? ? "green" : "red" }= ordermin.payments.sum(:sum)
  %td{:width=>"35%"}
    .message_box
      = ordermin.messages[0].body if ordermin.messages
  %td.center{:width=>"5%"}
    - if ordermin.delivery
      = image_tag('mail_arrow.png')
      доставка

