.service.clear
  .serviceL
    = check_box_tag "order_#{ordermin.id}"
    = "#{ordermin.id}."
    = link_to "<span>#{ordermin.order_type.name}</span>", ordermin
  .serviceStatus
    = ordermin.user.name
    %br
    = ordermin.user.email
  .serviceR
    %p.price
      = ordermin.price
      %span руб.
    - if @order.paid_for?
      Оплачено
    - else
      Ожидание оплаты

