.service.clear
  .serviceL
    = "#{order.id}."
    = link_to "<span>#{order.order_type.name}</span>", order
  .serviceStatus
    %span.active= order.status.name
  .serviceR
    %p.price
      = number_with_delimiter(order.price, :delimiter=>' ')
      %span руб.
    - if @order.paid_for?
      Оплачен
    - else
      = link_to "Как оплатить", "#", :class=>'link'
      

