.service.clear
  .serviceL
    = check_box_tag "order_id[#{ordermin.id}]", ordermin.id, false
    = "#{ordermin.id}."
    = link_to "<span>#{ordermin.order_type.name}</span>".html_safe, ordermin
  .serviceStatus
    = ordermin.user.name
    %br
    = ordermin.user.email
  .serviceR
    %p.price
      - if ordermin.price && ordermin.price.to_i>0
        = number_with_delimiter(ordermin.price, :delimiter=>' ')
        %span руб.
      - else
        бесплатно
    - if ordermin.order_payment.try(:status_name).present?
      = ordermin.order_payment.status_name
    - elsif ordermin.price && ordermin.price.to_i>0
      Ожидание оплаты

