.orderhead
  .span-4
    = link_to "Заказ №#{order.id}", order_url(order)
  .span-8
    %b Статус: 
    %b.green= order.status.name
    = link_to "изменить [+]", "javascript:;", :id=>"toggle_#{order.id}", :class=>"toggle_status", :style=>"font-size:75%;" 
    = render :partial=>'statuses', :locals=>{:id=>order.id}
  %div{:class=>'span-8 last'}
    %b Стоимость:
    %b.green= order.price 
    %b рублей (
    %b.green= order.payment ? "оплачен)" : "не оплачен)"
  .clear
%table.messages
  - order.messages.each do |message|
    = render :partial=>'orders/message', :object=>message unless message.new_record?

