- @title = @status ? "Заказы: #{@status.menu_name if @status}" : "Заказы"

.cabinet
  = render 'menu'

  = form_tag 'orders/update_status' do
    %fieldset
      = render :partial => 'ordermin', :collection => @orders
      .manage
        Переместить отмеченные
        = collection_select :order, :status_id, @statuses, :id, :name, :prompt => "Выберите категорию"
        = submit_tag "OK"

= will_paginate @orders

