.order
  .head.clear
    .l
      Заказ №
      = @order.id
      %br
      %small= @order.order_type.name
    .c
      - if current_user.admin?
        = form_for @order do |form|
          статус:
          = form.collection_select :status_id, Status.all, :id, :name
          %br
          = submit_tag "установить статус"
      - else
        = @order.status.name
    .r
      %span.price
        = number_with_delimiter(@order.price, :delimiter=>' ')
        %small руб.
        %br
      - if @order.paid_for?
        = link_to "<span>Оплачено</span>".html_safe, "#", :class=>'opener'
      - else
        - if current_user.admin?
          = link_to "<span>Ожидание оплаты</span>".html_safe, "#", :class=>'opener'
        - else
          = link_to "Оплатить", :payment_page
    .clearboth
    .plateji_info
      - @order.payments.each do |payment|
        %span.date= short_date(payment.payment_date) if payment.payment_date
        %span.pay
          = payment.sum
          руб.
        %span.links
          - if current_user.admin?
            = link_to "Изменить", edit_payment_url(payment), :class=>"AmodalPlatej", :id=>"payment_#{payment.id}"
            = link_to "Удалить", payment_url(payment), :method=>:delete, :confirm=>"Удалить платеж?"
      - if current_user.admin?
        = link_to "Ввести платеж", "#", :class=>"add_pay AmodalPlatejNew"
  - @order.messages.includes(:user, :documents).each do |message|
    = render :partial => 'message', :object => message unless message.new_record?

  = link_to "Новое сообщение", new_message_url(:order_id=>@order.id), :id=>"new_message_#{@order.id}", :class=>"new_message"

  %div{:id => "new_message_form_#{@order.id}", :class => @show_message ? "" : "hide"}
    = render :partial => "messages/form", :locals => {:url => {:controller => "messages", :action => :create}, :html => {:multipart => true}}
  - if @order.delivery
    %br
    %br
    .delivery
      Заказана доставка документов по адресу:
      = @order.delivery.full_address
      - if current_user.admin?
        %br
        = link_to "Изменить", edit_delivery_url(@order.delivery)
        = link_to "Удалить", delivery_url(@order.delivery), :method => :delete, :confirm => "Удалить запрос на доставку?"
  - elsif @order.paid_for?
    = link_to "Заказать доставку документов", new_delivery_url(:order_id => @order.id), :id => "new_delivery_#{@order.id}", :class => "make_order AmodalZakazDokumentov"

#modalPlatejNew.modal.modalPlatej
  %h3 Новый платеж
  = form_for(@payment) do |form|
    = form.hidden_field :order_id
    %label{:for => "payment_sum"} Сумма
    = form.text_field :sum, :size => 10
    %br
    %label{:for => "payment_payment_date"} Дата
    = form.date_select :payment_date
    %br
    %label{:for => "payment_comment"} Комментарий:
    %br
    = form.text_area :comment
    %p= submit_tag "Сохранить", :class => "textbutton"

#modalPlatej.modal.modalPlatej
#modalZakazDokumentov.modal.modalDocs
  %h3 Запрос на доставку документов
  = form_for(@delivery) do |dlv|
    %fieldset
      = dlv.hidden_field :order_id
      = dlv.label :zip, "Индекс:"
      = dlv.text_field :zip, :size => 10
      = dlv.label :city, "Город:"
      = dlv.text_field :city
      = errors_for(@delivery, :city)
      = dlv.label :address, "Адрес:"
      = dlv.text_area :address
      = dlv.label :comment, "Комментарий:"
      = dlv.text_area :comment
      %br
      = submit_tag "Отправить", :class=>'textbutton'

