<h3>Здравствуйте, <%= @name %>!</h3>

<p>По вашему заказ №<%= @order.id %> от <%= @date %> появилось новое сообщение:</p>

<p><%= @order.messages.first.body %> </p>

<p>Текущий статус заказа: <%= @order.status.name %> </p>

<p>Вы можете посмотреть подробную информацию в своем личном кабинете.
Вы также можете уточнить любую информацию по телефону (495) 762 13 60  или по e-mail:  ooo_ekka@mail.ru</p>

<p>С уважением,<br/>
ООО "Экка"</p>

<p>Эта сообщение автоматически сформировано системой приёма заказов. Отвечать на него не требуется. <br>
В случае, если у Вас возникнет необходимость связаться с нами, рекомендуем сделать это на нашем сайте, в вашем личном кабинете, создав новое сообщение по заказу.</p>
