<h3>Здравствуйте, <%= @name %>!</h3>

<p>По вашему заказу №<%= @order.id %> от <%= @date %> поступила оплата в размере <%= @sum %> руб. (п/п <%= @payment_num %> от <%= @payment_date %>). Заказ выполнен, файл с расчетом вы можете скачать, зайдя в указанный заказ в вашем Личном кабинете.<p>
	
<strong>Комментарий:</strong> <%= @comment %>

<p>Вы также можете уточнить любую информацию по  электронной почте ooo_ekka@mail.ru, по телефону (495) 762 13 60 либо с помощью опции "новое сообщение" в личном кабинете.</p>

<p>С уважением, <br/>
ООО "Экка"</p>