= form_for(@payment) do |form|
  %fieldset
    = form.hidden_field :order_id
    %label{:for => "payment_sum"} Сумма:
    = form.text_field :sum, :size=>10
    .clearboth
    %label{:for => "payment_payment_date"} Дата:
    = form.date_select :payment_date
    %br
    %label{:for => "payment_comment"} Комментарий:
    %br
    = form.text_area :comment
    = submit_tag "Сохранить", :class=>"textbutton"

