#container.clear
  %h1 Вход в систему
  - form_for @user_session, :url => user_session_path do |f|
    - if @user_session.errors && !@user_session.errors.empty?
      .error
        логин или пароль указаны неверно. попробуйте еще раз или воспользуйтесь функцией напоминания пароля.
    = f.label :email, "e-mail"
    = f.text_field :email
    %br
    = f.label :password, "пароль"
    = f.password_field :password
    %br
    = f.submit "Войти", :class=>'textbutton'
.clear
%br
= link_to "забыли пароль?", new_password_reset_url
%br
%br
В первый раз на сайте? 
&nbsp;&nbsp;
= link_to "Зарегистрироваться", new_user_url, :class=>"AmodalReg"



