<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
%html
  %head
    %meta{'http-equiv'=>'content-type', 'content'=>'text/html;charset=UTF-8'}
    %title= "#{@title} | Экка"
    = stylesheet_link_tag 'application'
    <!--[if lt IE 8]><link type="text/css" rel="stylesheet" href="stylesheets/ie.css"/><![endif]-->
    = csrf_meta_tags
    = javascript_include_tag 'application'
    = yield :head
  %body
    .page
      = render "shared/header"
      .body
        .inner.clear
          .content
            - for key in flash.keys
              .success{:id => key}= flash[key]
            = yield
          = yield(:right).presence || render("shared/right_side")
      = render "shared/footer"
      - if main_page?
        = render "shared/seo"
      = render "shared/modal_windows"
