!!!
%html
  %head
    %meta{'http-equiv'=>'content-type', 'content'=>'text/html;charset=UTF-8'}
    %title= "Авто-Эксперт"
    = stylesheet_link_tag 'screen'
    = stylesheet_link_tag 'ie'
    = stylesheet_link_tag 'expert'
    = javascript_include_tag 'jquery'
    = yield :head
  %body
    #wrapper.container
      #header.span-24
        %div{:class=>'span-3 prepend-top'}
          = link_to image_tag('logo.jpg'), :root, :class=>'image'
        %div{:class=>'span-15 prepend-top top5'}    
          %ul.inline_menu
            %li
              = link_to "О проекте", "/about"
            %li
              = link_to "Контакты", "/contacts"
        %div{:class=>'span-6 last prepend-top'}
          #loginbox
            - if current_user
              = link_to "Личный кабинет", account_url
              \|
              = link_to "выйти", logout_url
            - else
              = link_to "Войти", login_url
              \|
              = link_to "Регистрация", new_user_url
          #go_order
            = link_to "Заказать", new_order_url
      %hr
      #content.span-24
        - if flash[:notice]
          #notice.success= flash[:notice]
        = yield
      %hr
      #footer
        &copy; expert
