!!!
%html
  %head
    %meta{'http-equiv'=>'content-type', 'content'=>'text/html;charset=UTF-8'}
    %title= "#{@title} | Экка"
    = stylesheet_link_tag 'style'
    = stylesheet_link_tag 'expert'
    <!--[if lt IE 8]><link type="text/css" rel="stylesheet" href="stylesheets/ie.css"/><![endif]-->
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery.simplemodal.min'
    = javascript_include_tag 'curvycorners.src'
    = javascript_include_tag 'application'
    = yield :head
  %body
    .page
      .header.clear
        .logo
          = link_to image_tag("logo.png", :alt=>"logo"), '/'
          %strong Оценка ущерба, причиненного автомобилю в результате аварии (ДТП)
        .phone
          .inner
            %span +7 (495)
            762-13-60
          - if current_user
            = link_to current_user.email, '/account'
            = link_to "Настройки", '#', :class=>'AmodalOptions'
            = link_to "Выход", logout_url
          - else
            = link_to "Личный кабинет", login_url, :class=>'AmodalAuth' unless controller.controller_name=='user_sessions'
      .topmenu.clear
        .topmenuL
          %ul
            %li= link_to "Услуги и цены", '/services'
            %li= link_to "Как это работает", '/about'
            %li= link_to "Законодательство"
            %li= link_to "Контакты", '/contacts'
        .topmenuR
          = link_to "Заказать экспертизу", '/services', :class=>"zakaz #{current_user ? 'AmodalZakaz' : 'AmodalReg' }"
      .body
        .inner.clear
          .content
            - if flash[:notice]
              #notice.success= flash[:notice]
            = yield
          .right
            %h3 Полезные ссылки
            %ul.links
              - if current_user && current_user.supervisor?
                %li= link_to "Пользователи", '/users'
              - if current_user && current_user.admin?
                %li= link_to "Заказы", '/orders'
                %li= link_to "Услуги", '/order_types'
              - else
                %li= link_to "Когда необходима независимая экспертиза", "/#l1"
                %li= link_to "Почему именно независимая оценка автомобиля", "/#l2"
                %li= link_to "Почему Вам стоит обратиться именно к нам", "/#l3"
                %li= link_to "Условия оплаты и доставки"
                %li= link_to "Задать вопрос специалисту", new_order_url(:order_type_id=>6)
      .footer.clear
        .footerL
          - if main_page?
            \* С 01 октября 2006 года вступило в силу постановление РФ от 28.08.06г. №525 о внесении изменений в правила ОСАГО,
            утвержденные постановлением правительства РФ от 07.05.03 №263, в котором говорится о том, что теперь Вы не обязаны
            предоставлять автомобиль в страховую компанию на осмотр по направлению, а можете сами организовывать независимую
            оценку ущерба после аварии, не выжидая 5 рабочих дней. При этом страховая компания обязана принять документы
            и использовать результаты независимой автоэкспертизы после ДТП для решения об осуществлении страховой выплаты.
        .footerR
          &copy; ооо «Экка». 2010
      - if main_page?
        .seo
          <a name="l1"></a>
          %h2 Когда необходима независимая автоэкспертиза после ДТП
          %ul
            %li Автомобиль получил повреждения после аварии, и Вам необходимо произвести оценку ущерба после ДТП
            %li Страховая компания, в которой виновник ДТП приобрел полис ОСАГО, предлагает компенсацию, существенно меньшую, чем ущерб  от ДТП, нанесенный автомобилю при аварии (ДТП)
            %li Вы являетесь виновником ДТП, и считаете, что оценка ущерба автомобиля после аварии (ДТП), проведенная противоположной  стороной, существенно завышена и хотите заказать встречную оценку автомобилей после ДТП
            %li Автомобиль получил повреждения в результате стихийного бедствия, пожара, падения снега, строительных конструкций, действий третьих лиц, и Вы хотите провести оценку для определения ущерба автомобиля
          %br
          <a name="l2"></a>
          %h2 Почему именно НЕЗАВИСИМАЯ оценка автомобиля?
          %p Предположим, Вы попали в ДТП, у Вас нет полиса КАСКО, а у виновника аварии только полис ОСАГО. Страховая компания не ждет Вас с распростертыми объятиями, поскольку при получении за полис ОСАГО 3 500 рублей, она не будет стремиться компенсировать ущерб после ДТП в полном размере. В большинстве случаев, для оценки автомобиля после ДТП (аварии), страховая компания направляет Вас в оценочные фирмы, с которыми она сотрудничает на договорной основе. Но такая компания не может  считаться независимой. Производя оценку после ДТП в такой «независимой» оценочной фирме, Вы автоматически попадаете в абсурдную ситуацию: должник (СК) определяет величину своего же долга. С последствиями такой оценки столкнулись за последние годы практически все автовладельцы автомобилей, попадавшие в аварию (ДТП).
          %p С 01 октября 2006 года вступило в силу постановление РФ от 28.08.06г. №525 о внесении изменений в правила ОСАГО, утвержденные постановлением правительства РФ от 07.05.03 №263, в котором говорится о том, что теперь Вы не обязаны предоставлять автомобиль в страховую компанию на осмотр по направлению, а можете сами организовывать независимую оценку ущерба после аварии, не выжидая 5 рабочих дней. При этом страховая компания обязана принять документы и использовать результаты независимой автоэкспертизы после ДТП для решения об осуществлении страховой выплаты.
          <a name="l3"></a>
          %h2 Почему Вам стоит обратиться именно к нам?
          %h3
            %span 1.
            Мы удобны
          Идея нашей компании в максимальном удобстве для клиента. Вы можете выйти из дома, сфотографировать повреждения своего автомобиля на мобильный телефон (с соблюдением ряда условий), послать нам фотографии по электронной почте и за минимальную цену получить в электронном виде или по телефону сумму предварительной оценки ущерба Вашего автомобиля. При необходимости, бумажная версия экспертного заключения будет доставлена Вам в удобное время курьером.
          %br
          %h3
            %span 2.
            Мы профессиональны
          Многие сотрудники и эксперты нашей компании работают в этой сфере более десяти лет. Некоторые из них в прошлом являлись экспертами страховых компаний или «независимых» экспертиз при страховых компаниях, и хорошо знают внутреннюю «кухню» подобной деятельности, особенности технологий работы и методики расчёта ущерба.
          %br
          %h3
            %span 3.
            Мы легитимны
          Наши экспертные заключения и методика расчёта полностью соответствуют всем требованиям Федерального закона об оценочной деятельности (ФЗ-135) и Федеральным стандартам оценки (ФСО 1,2,3). Отчет не соответствующий ФЗ об оценке может быть отклонен в суде, если оппонент обжалует его. Наши эксперты готовы проанализировать и, при необходимости рецензировать, отчет оппонента для выявления несоответствий ФЗ. Отчеты имеют силу в любой инстанции, в том числе судах всех категорий.
          %br
          %h3
            %span 4.
            Мы объективны
          Стоимость работ, запасных частей и лакокрасочных материалов, указываемая в расчетной части подготавливаемых отчетов, соответствуют прейскурантам цен специализированных станций технического обслуживания по каждой марке автомобиля на момент составления отчета. Вы действительно сможете полностью восстановить автомобиль за стоимость указанную в отчете.
          %br
          %br
          %ul
            %li Стоимость работ, запасных частей и лакокрасочных материалов, указываемая в расчетной части подготавливаемых отчетов, соответствуют прейскурантам цен специализированных станций технического обслуживания по каждой марке автомобиля на момент составления отчета. Вы действительно сможете полностью восстановить автомобиль за стоимость указанную в отчете
            %li Стоимость экспертизы от 500 рублей
            %li Выезд эксперта при сильных повреждениях
            %li Доставка отчета курьером
      - unless current_user  
        - unless controller.controller_name=='password_resets'
          #modalReg.modal.modalReg
            %h3 Регистрация
            - form_for @user do |f|
              = render :partial => "users/form", :object => f
              %br
              = submit_tag "Зарегистрироваться", :class=>"textbutton"
          #modalAuth.modal.modalAuth
            %h3 Вход в личный кабинет
            - form_for @user_session, :url => user_session_path do |f|
              - if @user_session.errors && !@user_session.errors.empty?
                .error
                  логин или пароль указаны неверно. попробуйте еще раз или воспользуйтесь функцией напоминания пароля.
              = f.label :email, "E-mail"
              = f.text_field :email, :class=>'text'
              %br
              = f.label :password, "пароль"
              = f.password_field :password, :class=>'text'
              %br
              = f.submit "Войти", :class=>'textbutton'
      - else
        #modalZakaz.modal.modalZakaz
          %h3 Оформление заказа!
          - form_for(@order, :url => orders_url, :html=>{:multipart=>true}) do |order_form|
            %fieldset
              = order_form.collection_select(:order_type_id, OrderType.find(:all), :id, :name)
              - order_form.fields_for :messages do |msg|
                %label{:for => "message_body"} Ваш комментарий:
                = msg.text_area :body
                %label Приложения:
                - msg.fields_for :documents do |doc|
                  - ind=msg.object.documents.index(doc.object)+1
                  %label{:class=>'filenum'}= "#{ind}. "
                  = doc.file_field :file, :class=>'fileinput'
              .zakaz_total
                Стоимость:
                - OrderType.find(:all).each do |type|
                  %b{:id=>"price_#{type.id}", :class=>"zakaz_price #{'hide' unless type==@default_type}"}
                    = type.price
                    руб.
              = submit_tag "Отправить заказ", :class=>"textbutton button"
        #modalOptions.modal.modalOptions
          %h3 Настройки
          - form_for @user, :url => user_path(@user) do |f|
            %fieldset
              %label{:for=>"user_name"} ФИО
              = f.text_field :name
              %label{:for=>"user_password"} Новый пароль
              = f.password_field :password
            .clear.formpass
            - if current_user.supervisor?
              = f.check_box :admin,  :id=>"makeadmin", :class=>"checkbox"
              %span.checkboxlabel права администратора
            = f.submit "Сохранить", :class=>"textbutton"

